<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {% block html_title %}
            Dlango Start
        {% endblock html_title %}
    </title>
</head>
<body>
    <header>
        <table bgcolor="#c0c0c0"  width="100%">
            <tr>
                <td><h1><a href="{{ base_url }}">My First Website!</a></h1></td>
                <td><a href="{{ base_url }}/bots/">Боти ЗНО</a></td>
                <td><a href="{{ base_url }}/contacts/">Contacts</a></td>
                <td><a href="{{ base_url }}/feedbacks/">Feedbacks</a></td>
                <td><a href="{{ base_url }}/about/">About</a></td>
                <td><a href="{{ base_url }}/admin/">Admin</a></td>
            </tr>
        </table>
    </header>
    {% block content %}

    {% endblock content %}
</body>
</html>