{% extends "base.html" %}

{% block html_title %}
    {{ block.super }} - Home
{% endblock html_title %}

{% block content %}
    <h2>Привіт, {{name}} ({{user.email}})!</h2>
    <p>Сьогодні: {{now|date:"d E Y H:i"}}</p>
    <p>Новий рік: {{new_year_date|timesince}}</p>

    <h2>My shufle students:</h2>
    <ol>
    {% for name in students %}
        <li>{{name}}</li>    
    {% endfor %}
    </ol>
    
    <p>
    {% if message %}
    Massage: <strong>{{message}}</strong>
    {% else %}
    No message
    {% endif %}
    </p>

{% endblock content %}
